*.py[cod]
*.sqlite3

collected_static/
*/__pycache__

/*/migrations/*
!/*/migrations/__init__.py

settings/local_settings.py

*/app/*.js
*/app/*.map
*/node_modules
*/typings

log/

.reload
