body {
  padding-top: 60px;
  font-family: 'Ubuntu', sans-serif;
}

div.article { padding-top: 20px; }
div.article h2 { padding-bottom: 10px; }

div.codehilite pre {
  background-color: #fefbf3;
  margin: 0 0 10px;
}

.well.small {
  padding: 6px 6px 4px;
  font-size: 13px;
}

.btn.xsmall {
  padding: 1px 3px 1px;
  font-size: 11px;
}

.post-title {
  color: inherit;
}
.post-title:focus, .post-title:hover {
  color: inherit;
}

.summary * { display: inline; }
.summary pre { display: none; }

.social a[href*='github.com']:before {content: url('../images/icons/github.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='last.fm']:before, .social a[href*='lastfm.']:before {content: url('../images/icons/lastfm.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='linkedin.com']:before {content: url('../images/icons/linkedin.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('../images/icons/stackoverflow.png'); margin-right: 5px; vertical-align: -3px;}
.social a[href*='twitter.com']:before {content: url('../images/icons/twitter.png'); margin-right: 5px; vertical-align: -3px;}
