{% extends "base.html" %}

{% block content %}
{% if latest_post_list %}
    {% for post in latest_post_list %}
    <article>
      <header>
        <h2><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></h2>
        <p>
          Posted on {{ post.pub_date|date:"d/M/Y H:i" }} in <a href="{% url 'blog:category' post.category.slug %}">{{ post.category.title }}</a>
          {% if post.tags %}
              &#8226; Tagged with
              {% for tag in post.tags.all %}
                  <a href="{% url 'blog:tag' tag.slug %}">{{ tag.title }}</a>
                  {% if not loop.last %},{% endif %}
              {% endfor %}
          {% endif %}
          {% if DISQUS_SITENAME %}
          &#8226; <a href="{% url 'blog:tag' tag.slug %}#disqus_thread">Leave a comment</a>
          {% endif %}
        </p>
      </header>
      <div>
        {{ post.excerpt|striptags|linebreaksbr }}
        <a class="btn" href="{% url 'blog:detail' post.slug %}">Continue reading</a>
      </div>
      {% if not loop.last %}
      <hr />
      {% endif %}
    </article>
    {% endfor %}
{% else %}
  <p>Nessun post disponibile</p>
{% endif %}

<div class="pagination">
{% if latest_post_list.has_next %}
  <a class="btn" href="?page={{ latest_post_list.next_page_number }}">
    <i class="fa fa-angle-left"></i> Older Posts
  </a>
{% endif %}
{% if latest_post_list.has_previous %}
  {% if articles_page.previous_page_number == 1 %}
    <a class="btn float-right" href="/">
      Newer Posts <i class="fa fa-angle-right"></i>
    </a>
  {% else %}
    <a class="btn float-right" href="?page={{ latest_post_list.previous_page_number }}">
      Newer Posts <i class="fa fa-angle-right"></i>
    </a>
  {% endif %}
{% endif %}
</div>

{% endblock %}

{% block additional_js %}
  {% include "partial/jsonld.html" %}
  {% include "blog/disqus_count.html" %}
{% endblock %}
