{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ post.author.name }}" />
<meta name="description" content="{{ post.except|striptags }}" />
<meta name="keywords" content="{{ post.tags.all|join:', ' }}">
{% endblock %}

{% block title %} &ndash; {{ post.title }}{% endblock %}

{% block content %}
<article>
  <header>
    <h1 id="{{ article.slug }}">{{ post.title }}</h1>
    <p>Posted on {{ post.pub_date|date:"j M Y H:i" }} in <a href="{% url 'blog:category' post.category.slug %}">{{ post.category.title }}</a></p>
  </header>
  <div>
    {{ post.content_html|safe }}
  </div>
  <div class="tag-cloud">
    <p>
        {% if post.tags %}
            &#8226; Tagged with
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:tag' tag.slug %}">{{ tag.title }}</a>
                {% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    </p>
  </div>
  {% include "blog/disqus.html" %}
</article>
{% endblock %}

{% block additional_js %}
  {% include "partial/jsonld_article.html" %}
{% endblock %}
