<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load bootstrap3 %}

		{% bootstrap_css %}
		{% bootstrap_javascript %}


		{% block additional_head %}{% endblock %}

		<title>{% block windowtitle %}il_doc's{% endblock %}</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand">Dojo</span>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li {% block homeactive %}{% endblock %}>
								<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
							</li>


					</div><!--/.navbar-collapse -->
				</div>
			</nav>
		</div>

		<div class="container-fluid">
			<div class="content">
				{% block indextitle %}<div class="page-header"><h1>{% block title %}  {% endblock %}</h1></div>{% endblock %}
				{% block content %}{% endblock %}
				<footer>
					<p>Powered by <a href="http://djangoproject.com/">Django</a>. Theme based on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
					<p>&copy; Doc | 2007-<span id="currentYear"></span></p>
				</footer>
			</div>
		</div>
		<script>
			document.getElementById("currentYear").innerHTML = new Date().getFullYear();
		</script>
	</body>
	</html>
