<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    {% load static from staticfiles %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/local.css' %}" rel="stylesheet">
    <link href="{% static 'css/pygments.css' %}" rel="stylesheet">

    <link href="{% static 'favicon.ico' %}" rel='shortcut icon' type='image/x-icon' />

    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    {% block additional_head %}{% endblock %}

  <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
      <div class="container-fluid">
        <a class="brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
        <ul class="nav">
          {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for page in PAGES %}
              <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          {% endif %}
          {% for cat in CATEGORIES %}
            <li {% if cat == category %}class="active"{% endif %}><a href="{% url 'blog:category' cat.slug %}">{{ cat }}</a></li>
          {% endfor %}
        </ul>
        <p class="pull-right">
        <a href="{% url 'blog:taglist' %}">[tags]</a>
        <a href="{% url 'blog:archives' %}">[archives]</a>
        <a href="{% url 'blog:feeds' %}">[feeds]</a>
        </p>
      </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="content">
        {% block indextitle %}<div class="page-header"><h1>{% block title %} {{ SITENAME }} {% endblock %}</h1></div>{% endblock %}
        {% block content %}{% endblock %}
        <footer>
          <p>Powered by <a href="http://djangoproject.com/">Django</a>. Theme based on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
          <p>&copy; Doc | 2007-<span id="currentYear"></span> | v. {{ VERSION }}</p>
        </footer>
      </div>
      {% include "blog/sidebar.html" %}
    </div>
    {% include "blog/disqus.html" %}
    {% include "analytics.html" %}
    <script>
      document.getElementById("currentYear").innerHTML = new Date().getFullYear();
    </script>
  </body>
  </html>
