<div class="well">
  <h3>About</h3>
  Genova, {{YEARS}} anni, lavoro nell'IT
  <h3>In giro per il web...</h3>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-github fa-lg"></i><a href="https://github.com/ildoc">GitHub</a></li>
    <li><i class="fa-li fa fa-stack-overflow fa-lg"></i><a href="http://stackoverflow.com/users/1538384/doc">StackOverflow</a></li>
    <li><i class="fa-li fa fa-lastfm fa-lg"></i><a href="http://www.lastfm.it/user/il_doc90">LastFm</a></li>
    <li><i class="fa-li fa fa-twitter fa-lg"></i><a href="https://twitter.com/il_doc">Twitter</a></li>
  </ul>
  <hr />
  <div style="text-align:center">
    <a href="http://stackexchange.com/users/1672100/doc">
      <img src="http://stackexchange.com/users/flair/1672100.png" width="208" height="58" alt="profile for Doc on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Doc on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
    </a>
  </div>
</div>
