<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="username" class="col-md-2 control-label">Username</label>
        <input
            ngControl="username"
            type="text"
            id="username"
            #username="ngForm"
            class="col-md-6"
            required>
        <div class="alert alert-danger" *ngIf="username.touched && username.errors.required">
            Inserire Username
        </div>
    </div>
    <div class="form-group">
        <label for="passwprd" class="col-md-2 control-label">Password</label>
        <input
            ngControl="password"
            type="password"
            id="password"
            #password="ngForm"
            class="col-md-6"
            required>
        <div class="alert alert-danger" *ngIf="password.touched && password.errors.required">
            Inserire Username
        </div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!f.valid">Submit</button>
</form>
